{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}
{% templatetag openblock %} block title {% templatetag closeblock %}Home Page{% templatetag openblock %} endblock title {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Index of Awesome Website!</h2>
      <h6 class="text-right">...Top 4 most recent articles!</h6>
      <hr />
    </div>
  </div>

  {% templatetag openblock %} if top4articles {% templatetag closeblock %} 
  {% templatetag openblock %} for article in top4articles {% templatetag closeblock %} 
    <div class="row">
      <div class="col-md-12">
        <a href="{% templatetag openvariable %} article.get_absolute_url {% templatetag closevariable %}" 
          title="{% templatetag openvariable %} article.name {% templatetag closevariable %}" 
          target="_self">
          <h4>{% templatetag openvariable %}article{% templatetag closevariable %}</h4>
        </a>
      </div>
    </div>
  {% templatetag openblock %} endfor {% templatetag closeblock %}
  {% templatetag openblock %} endif {% templatetag closeblock %}
    
</div>
{% templatetag openblock %} endblock content {% templatetag closeblock %}