{% templatetag openblock %} extends "base.html" {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>{% templatetag openvariable %}article{% templatetag closevariable %}</h4>
        {% templatetag openvariable %}article.content|safe{% templatetag closevariable %}
      </div>
    </div> 
  </div>

{% templatetag openblock %} endblock content {% templatetag closeblock %}